/* figure caption align to center */
figcaption {
  text-align: center;
}

/* customize duoshuo comments */
#ds-thread {
  max-width: 800px;
  padding: 50px 80px;
  margin: 50px auto 30px auto;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(187,187,187,0.1),0 6px 12px rgba(0,0,0,0.1);
}

figure {
  text-align: center;
}

div.link-button {
  text-align: center;
}

header>h1.entry-title a::after{
  opacity: 0;
  display: inline-block;
  content: '> > >';
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  transform: translateX(-30px);
}

header>h1.entry-title a:hover::after,
header>h1.enter-title a:focus::after{
  opacity: 1;
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  transform: translateX(10px);
}