/* figure caption align to center */
figcaption {
  text-align: center;
}

/* customize duoshuo comments */
#ds-thread {
  max-width: 800px;
  padding: 50px 80px;
  margin: 50px auto 30px auto;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(187,187,187,0.1),0 6px 12px rgba(0,0,0,0.1);
}

figure {
  text-align: center;
}

div.link-button,
div.more-button {
  text-align: center;
}

header>h1.entry-title a {
  position: relative;
}

header>h1.entry-title a::before {
  position: absolute;
  width: 0.4rem;
  height: 2.7rem;
  left: -1rem;
  background: #333;
  content: '';
  opacity: 0.2;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

header>h1.entry-title a:hover::before,
header>h1.enter-title a:focus::before{
  opacity: 1;
}

ul>li.entry-title a {
  -webkit-transition: length 0.3s, opacity 0.2s;
  -moz-transition: length 0.3s, opacity 0.2s;
  transition: length 0.3s, opacity 0.2s;
}

ul>li.entry-title a:hover,
ul>li.entry-title a:focus {
  padding-left: 20px;
}