/* figure caption align to center */
figcaption {
  text-align: center;
}

/* customize duoshuo comments */
#ds-thread {
  max-width: 800px;
  padding: 50px 80px;
  margin: 50px auto 30px auto;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(187,187,187,0.1),0 6px 12px rgba(0,0,0,0.1);
}

figure {
  text-align: center;
}