@import 'compass/css3';

div.dot-navi {
  position: fixed;
  height: 70%;
  width: 20px;
  bottom: 15%;
  right: 2rem;
  z-index: 10;
  background-color: #fff;
  @include single-box-shadow(rgba(34, 34, 34, .1), 0, 0, 20px);
  @include border-radius(40px);
  display: none;
  @media only screen and (min-width: 62.5em) {
    display: block;
  }
  .dot {
    @include transition(all 0.5s ease);
    @include border-radius(10px);
    @include transform(scale(0.4));
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: #fff;
    border-color: #222;
    border-width: 10px;
    border-style: solid;
    cursor: pointer;
    + .description {
      display: none;
    }
    &:hover {
      @include transform(scale(0.8));
      + .description {
        display: block;
      }
    }
    &.current {
      @include transform(scale(1.5));
      border-color: #222;
      border-width: 2px;
      border-style: solid;
    }
  }
}