body {
  background: #5A5A66;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: #FFF;
  font-family: Verdana, Myriad Web, Syntax, sans-serif;
  font-size: 1em;
  font-size-adjust: .58;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.58em;
  margin: 1.58em 5% 1.58em 8%;
  padding: 0;
  text-transform: none;
  width: auto;
  word-spacing: normal;
}
h1 { text-align: center; }
#vis { text-align: center; }
#adsense { margin-top: 1em; }
.first { fill: none; stroke-width: 1px; stroke: #84A0C8; }
.second { fill: none; stroke-width: 1.5px; stroke: #84A0C8; }
.curve { fill: none; stroke: #A9B8B9; stroke-width: 3px; }
.control { stroke: #000; stroke-width: .5px; }
.interpoints { stroke: #A9B8B9; fill: #5A5A66; stroke-width: 2; }
circle[catagory=begin] { fill: #AAA; stroke: white; stroke-width: 2; }
circle[catagory=anchor] { fill: #AAA; stroke: none; }
circle[catagory=end] { fill: #AAA; stroke: black; stroke-width: 3; }
circle.pivot { fill: #5A5A66; stroke: #A9B8B9; stroke-width: 3; }
.t { 
font-size: 2em; 
fill: #fff;
}
a:link { color: #C2D8F0; text-decoration: none; }
a:visited { color: #7988A9; text-decoration: none; }
a:hover { color: #C2D8F0; text-decoration: underline; }
a:active { color: #C2D8F0; }
.copyright { text-align: right; }